# 01. Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
# Store path to main project folder
path = r'/Users/emilycurcio/Desktop/CareerFoundry/Data Immersion/Ach 4 Python Fundamentals/03-2024 Instacart Basket Analysis'

In [3]:
# Import Products data set
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'))

In [4]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [5]:
# Import Orders Wrangled data set
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'))

In [6]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

# 03. Mixed Type Data

In [7]:
# Create a df
df_test = pd.DataFrame()

In [8]:
# Create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [9]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [10]:
# Check for mixed type columns
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [11]:
# Change mix column to be all variable type string
# Note: to change to all interger use int64 instead of str
df_test['mix'] = df_test['mix'].astype('str')

# Consistency Check on Products DF

# 04. Missing Values

In [12]:
# Check for missing values in Products df
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [13]:
# View missing values
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [14]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [15]:
# Address missing values by filtering out missing data
# Check original df shape
df_prods.shape

(49693, 5)

In [16]:
# Filter out missing data
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [17]:
# Check new df shape
df_prods_clean.shape

(49677, 5)

In [18]:
# Note: the inplace = True in both below lines of code overwrites the df

# To drop missings from all columns
#df_prods.dropna(inplace = True)

# To drop missings from particular column
#df_prods.dropna(subset = [‘product_name’], inplace = True)

# 05. Duplicates

In [19]:
# Look for duplicates in df
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [20]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [21]:
# Address duplicates
# Check original df shape
df_prods_clean.shape

(49677, 5)

In [22]:
# Create new df without duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [23]:
df_prods_clean_no_dups.shape

(49672, 5)

# 06. Export Latest DF Version

In [24]:
# Export df_prods_clean_no_dups
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'), index = False)

# Exercise Start

# Consistency Check on Orders DF

### Question 2

In [25]:
# Check summary stats
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

#### My first observation is that the order_id and user_id columns have been changed back to type int. I double checked that they were type str before exporting the dataset in the previous exercise. I wonder if being in the csv file and then re-uploaded here changed them back to type int.
#### The max for order_number is 100, which is definitely possible depending on the amount of time this data spans. If, for example, it is data from one month, then it might be hard for a customer to make 100 orders, but if it was for an entire year then this would be realistic.
#### The count for days_since_prior_order is much lower than the count for all of the other columns, indicating that there are missing values. This makes since since all of the rows for customers' first orders do not have an entry for this column.

### Question 3 & 4

In [26]:
# Check for mixed type columns
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

#### No ouptut to the above cell of code means there are no columns with mixed data types.

### Question 5 & 6

In [27]:
# Check for missing values
df_ords.isnull().sum()

order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

#### The days_since_prior_order column has a high number of missing values. As noted above, this is because for customers' first orders this value is left blank. We could consider replacing the missing values with 0, as it could also make sense that there are "0 days since the customer's prior order" when it is their first order.

In [28]:
# Replace missing values in days_since_prior_order column with 0
df_ords['days_since_prior_order'].fillna(0, inplace = True)

In [29]:
# Check that it worked
df_ords.isnull().sum()

order_id                  0
user_id                   0
order_number              0
orders_day_of_week        0
order_hour_of_day         0
days_since_prior_order    0
dtype: int64

### Question 7 & 8

In [30]:
# Look for duplicates in df
df_ords_dups = df_ords[df_ords.duplicated()]

In [31]:
df_ords_dups

Empty DataFrame
Columns: [order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

#### No duplicates were found in the orders df.

### Question 9

In [32]:
# Export df_ords
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'), index = False)