# 01. Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
# Store path to main project folder
path = r'/Users/emilycurcio/Desktop/CareerFoundry/Data Immersion/Ach 4 Python Fundamentals/03-2024 Instacart Basket Analysis'

In [3]:
# Import Orders Products Combined data set
df_ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
df_ords_prods.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0.0,196,1,0
1,2539329,1,1,2,8,0.0,14084,2,0
2,2539329,1,1,2,8,0.0,12427,3,0
3,2539329,1,1,2,8,0.0,26088,4,0
4,2539329,1,1,2,8,0.0,26405,5,0

In [5]:
df_ords_prods.shape

(32434489, 9)

In [6]:
# Import Products data set
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

In [7]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_prods.shape

(49672, 5)

# 03. Combine Data

In [9]:
# Merge the two dfs
df_merged = df_ords_prods.merge(df_prods, on = 'product_id', indicator = True)

In [10]:
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [11]:
df_merged['_merge'].value_counts()

both          32404859
right_only           0
left_only            0
Name: _merge, dtype: int64

In [12]:
df_merged.shape

(32404859, 14)

In [16]:
# Drop the indicator column
df_merged = df_merged.drop('_merge', axis = 1)

In [17]:
df_merged.shape

(32404859, 13)

# 04. Export Data

In [18]:
# Export data to pkl
df_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))